page-upload-photo {

    .img{
        height: 70vh;
        width: auto;
        margin: auto;
        margin-bottom: 2px;
        display: block;
        width: 160px ;
        height: 160px;
        border-radius: 100px
       }

}
